[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

[core]
	editor = nvim
	autocrlf = input
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[push]
	default = current

[pull]
	rebase = true

[fetch]
	prune = true

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff
	conflictstyle = diff3

[alias]
	# Status
	s = status -sb
	st = status
	
	# Commit
	c = commit
	cm = commit -m
	ca = commit --amend
	cam = commit --amend -m
	
	# Branch
	b = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
	
	# Checkout
	co = checkout
	cob = checkout -b
	
	# Add
	a = add
	aa = add --all
	ap = add --patch
	
	# Diff
	d = diff
	ds = diff --staged
	dc = diff --cached
	
	# Log
	l = log --oneline --graph --decorate
	ll = log --oneline --graph --decorate --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	
	# Remote
	r = remote
	rv = remote -v
	
	# Reset
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~1
	
	# Stash
	ss = stash save
	sl = stash list
	sp = stash pop
	sa = stash apply
	
	# Others
	last = log -1 HEAD
	contributors = shortlog --summary --numbered
	
[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f